.logo-bar {
  z-index: 1000;
  top: 0;
  position: fixed;
  height: 1.16rem;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.logo-bar .bar-main {
  padding: 0 .21333rem 0 .32rem;
  height: 1.17333rem;
  overflow: hidden;
}
.logo-bar .bar-main i {
  font-size: .65rem;
  line-height: 1.16rem;
  display: block;
}
.logo-bar .bar-main .icon-sousuo {
  margin-right: .26667rem;
}
.logo-bar .bar-main .icon-gouwuche {
  margin-right: .1rem;
}
.logo-bar .bar-main .icon-gouwuche span {
  top: .16rem;
  right: 0.18rem;
  position: absolute;
  width: .37333rem;
  height: .37333rem;
  border-radius: .37333rem;
  background-color: #b4282d;
  text-align: center;
  line-height: .37333rem;
  font-size: .24rem;
  color: #fff;
}
.logo-bar .bar-main span {
  font-family: "黑体";
  font-size: .55rem;
  line-height: 1.16rem;
  margin-left: 2.8rem;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
