.u-middle {
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.u-middle .super {
  text-decoration: none;
  display: inline-block;
  height: 2.4rem;
  text-align: center;
}
.u-middle .super i {
  display: inline-block;
  margin-bottom: .21333rem;
  font-size: .87rem;
  color: #cecece;
}
.u-middle .super span {
  display: block;
  font-size: .35rem;
  line-height: 1;
  color: #333;
}
