.middle-swiper {
  overflow: hidden;
  padding: .42667rem 0  .37333rem 0;
  height: 3rem;
  margin-bottom: .26667rem;
  background-color: #fff;
}
.middle-swiper .column {
  position: relative;
  width: 2.18667rem;
  height: 2.8rem;
  margin-right: .32rem;
}
.middle-swiper .column .column-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2.18667rem;
  height: 2.18667rem;
  margin-bottom: .29333rem;
  border-radius: .05333rem;
}
.middle-swiper .column .top-num {
  position: absolute;
  top: 0;
  right: .10667rem;
  width: 2rem;
  height: .42667rem;
  line-height: .42667rem;
  text-align: right;
  color: #fff;
  font-size: 24px;
  background: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/rbGradient-049c62dfb5.png) no-repeat;
  background-size: 100%;
}
.middle-swiper .column .title {
  color: #333;
  font-size: .32rem;
  line-height: 1;
  text-align: center;
  width: 2.45333rem;
  margin-left: -0.13333rem;
}
.heng {
  overflow-x: scroll;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0 !important;
}
