.s-box {
  display: flex;
  background-color: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
  border-radius: .05333rem;
  margin-bottom: .4rem;
}
.s-box .s-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-left: .26667rem;
  padding-right: .4rem;
}
.s-box .s-left .author-container {
  margin-bottom: .33333rem;
}
.s-box .s-left .author-container .author {
  height: 0.64rem;
  font-size: 0.26666666666666666rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.s-box .s-left .author-container .author .author-pic {
  width: 0.64rem;
  height: 0.64rem;
  margin-right: 0.10666666666666667rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.s-box .s-left .author-container .author .author-pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.s-box .s-left .author-container .author .author-name {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.s-box .s-left .line1 {
  margin-bottom: .18667rem;
  line-height: 1.2;
}
.s-box .s-left .line1 .title {
  margin-right: .4rem;
  font-size: .42667rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.s-box .s-left .line2 .sub-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-box .s-right {
  position: relative;
  width: 3.73333rem;
  height: 3.62667rem;
}
.s-box .s-right .pic-box {
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}
.s-box .s-right .pic-box .topic {
  position: absolute;
  top: .13333rem;
  left: .13333rem;
}
.s-box .s-right .pic-box .topic .topic-text {
  display: inline-block;
  padding: 0 .21333rem;
  height: .48rem;
  line-height: .48rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d9d9d9;
  border-radius: .26667rem;
  color: #333;
}
